@charset "UTF-8";
/* CSS Document */

.container { max-width: 960px; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
.col-half { width: 50%; float: left; }
.col-1thrids { width: 33%; float: left; }
.col-2thrids { width: 66%;  float: left; }
.col-1quarters { width: 25%; float: left; }
.col-3quarters { width: 75%; float: left; }

/* == ACCORDIAN NAV ==== */ 
.accordion { position: relative; z-index: 100; }
.accordion dt, .accordion dd { width: 96%; padding: 2%; }
.accordion dt { border-top: 1px solid #fbfbeb; border-right: 1px solid #808284; border-bottom:  1px solid #808284; border-left: #fbfbeb;  background: #bdbcaf; }
.accordion a { text-align: center; text-decoration: none; display: block; }
.accordion dd { margin-left: 0; border-left: 1px solid #bdbcaf; border-right: 1px solid #bdbcaf; overflow: hidden; background: #fbfbeb; }

/* === OPERATING TABLE == */
.operatingTable{ position: relative; z-index: 1;}

.mBlank { height: 205px; width: 100%; display: block; background: #ccc;  }

#mHead { height: 205px; width: 390px; margin: 0 auto; display: block; position: relative; z-index: 200; }
#mBody { height: 205px; width: 390px; margin: -50px auto 0 auto; display: block; position: relative; z-index: 100; }
#mFood { height: 205px; width: 390px; margin: 0 auto; display: block; position: relative; z-index: 300; }

/* == CHOICES ==== */
/* = MONSTER HEADS = */
.m1-head { height: 100px; width: 100px; background: url(../images/m1-head.png) top center no-repeat; background-size: auto 100%; }
.m2-head { height: 100px; width: 100px; border-radius: 50%; background: #dbb5b2; background-size: auto 100%; }
.m3-head { height: 100px; width: 100px; border-radius: 50%; background: #d28b01; background-size: auto 100%; }
.m4-head { height: 100px; width: 100px; border-radius: 50%; background: #67a40f; background-size: auto 100%; }
.m5-head { height: 100px; width: 100px; border-radius: 50%; background: #795cd6; background-size: auto 100%; }
.m6-head { height: 100px; width: 100px; border-radius: 50%; background: #921423; background-size: auto 100%; }

/* = MONSTER BODIES = */
.m1-body{ height: 100px; width: 100px; background: url(../images/m1-body.png) top center no-repeat; background-size: 100% auto; }
.m2-body{ height: 100px; width: 100px; border-radius: 10%; background: #dbb5b2; background-size: auto 100%; }
.m3-body{ height: 100px; width: 100px; border-radius: 10%; background: #d28b01; background-size: auto 100%; }
.m4-body{ height: 100px; width: 100px; border-radius: 10%; background: #67a40f; background-size: auto 100%; }
.m5-body{ height: 100px; width: 100px; border-radius: 10%; background: #795cd6; background-size: auto 100%; }
.m6-body{ height: 100px; width: 100px; border-radius: 10%; background: #921423; background-size: auto 100%; }


/* = MONSTER FOODS = */
.m1-food{ height: 100px; width: 100px; background: #2e87be; background-size: auto 100%; }
.m2-food{ height: 100px; width: 100px; background: #dbb5b2; background-size: auto 100%; }
.m3-food{ height: 100px; width: 100px; background: #d28b01; background-size: auto 100%; }
.m4-food{ height: 100px; width: 100px; background: #67a40f; background-size: auto 100%; }
.m5-food{ height: 100px; width: 100px; background: #795cd6; background-size: auto 100%; }
.m6-food{ height: 100px; width: 100px; background: #921423; background-size: auto 100%; }

/* = UI Elements ===*/

.dragging { opacity: 0.5; }



